:root {
    --dark_void: #151419;
    --liquid_lava: #F56E0F;
    --dusty_grey: #878787;
    --gluon_grey: #1B1B1E;
    --slate_grey: #262626;
    --snow: #FBFBFB;
}

/* General Body Styling */
body, html{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: var(--snow);
    line-height: 1.6;
}


/* Header */
.header{
    background-color: var(--dusty_grey);
    color: var(--liquid_lava);
    margin: auto;
    height: 100px;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
}

.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header.sticky{
    position: sticky;
    top: 0;
}

.header-name-left{
    color: var(--liquid_lava);
    float: left;
    margin-left: 50px;
}

.header-menu{
    display: inline-block;
    float: right;
    margin-right: 50px;
}

.header-links a{
    color: var(--liquid_lava);
    display: inline-block;
    margin-right: 30px;
}

.header-menu span{
    display: block;
    background-color: var(--dusty_grey);
    width: 26px;
    height: 2px;
    margin: 6px;
}
/* Finish Header */



h1 {
    color: var(--gluon_grey);
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: var(--gluon_grey);
    text-align: center;
}

.text-center {
    text-align: center;
}

/* Main paragraph styling */
p {
    font-size: 18px;
    text-align: justify;
    justify-self: center;
}

/* Flexbox for Language Icons */
#language-flexbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
    padding: 3px 0;
    margin: 10px;
    align-items: stretch;
}

.language {
    display: flex; /* changed from flow to flex */
    justify-content: center;
    align-items: center;
    flex-direction: column; /* ensures items are stacked vertically */
    background: var(--dusty_grey);
    border: 1px solid #ddd;
    margin: 2px;
    text-align: center;
    border-radius: 15px;
}

.language img {
    max-width: 100%;
    align-self: center; /* should work with flex container */
    margin: 10px 0; /* adjusted margin */
    display: block;
}

.language p {
    margin: 0;
    font-weight: bold;
    text-align: center;
    color: var(--snow);
}

.footerF{
    text-align: center;
}

#social-media-flexbox {
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

.social-media {
    margin: 0 10px;
}

.social-media img {
    max-width: 25px;
}

/* Link styling */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: var(--liquid_lava);
}
